name: Deploy Development

on:
  push:
    branches: [ "develop" ]

jobs:
  deployment:
    runs-on: ubuntu-22.04
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      
      - name: generate .env file
        run: |
          touch .env.development
          echo "${{ secrets.DEVELOPMENT_ENV }}" >> .development.env
          cat .development.env

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: delete ECR latest image
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: |
            aws ecr batch-delete-image --repository-name ez-ask-app-dev --image-ids imageTag=latest
      
      - name: Build Docker Image
        run: docker build -t ez-ask-app-dev -f ./Dockerfile.dev .

      # TODO: test 수정 후 활성
      # - name: Run Test Code
      #   run: docker run -i ez-ask-app-dev npm run test:ci

      - name: Tag Docker Image
        run: docker tag ez-ask-app-dev:latest ${{ steps.login-ecr.outputs.registry }}/ez-ask-app-dev:latest
        
      - name: Push Docker Image To ECR
        run: docker push ${{ steps.login-ecr.outputs.registry }}/ez-ask-app-dev:latest
      
      - name: Delete docker container and image
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            sudo docker stop ez-ask-app-dev || true 
            sudo docker rm ez-ask-app-dev || true 
            sudo docker images -q | xargs -r docker rmi

      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          timeout: 60s   
          script: |
            sudo docker pull ${{ steps.login-ecr.outputs.registry }}/ez-ask-app-dev:latest \
            sudo docker run -d --name ez-ask-app-dev -p 3000:3000 ${{ steps.login-ecr.outputs.registry }}/ez-ask-app-dev:latest