name: Deploy Production

on:
  push:
    branches: [ "main" ]

jobs:
  deployment:
    runs-on: ubuntu-22.04
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      
      - name: Generate .env file
        run: |
          touch .production.env
          echo "${{ secrets.PRODUCTION_ENV }}" >> .production.env
          cat .production.env

      - name: Build Docker Image
        run: docker build -t ez-ask-app .

      - name: Delete ECR latest image
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: |
            aws ecr batch-delete-image --repository-name ez-ask-app --image-ids imageTag=latest
      
      - name: Login to ECR on EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: |
            aws ecr get-login-password --region ${{ secrets.AWS_REGION }} | docker login --username AWS --password-stdin ${{ secrets.ECR_URI }}

      - name: Tag Docker Image
        run: docker tag ez-ask-app ${{ steps.login-ecr.outputs.registry }}/ez-ask-app:latest
        
      - name: Push Docker Image To ECR
        run: docker push ${{ steps.login-ecr.outputs.registry }}/ez-ask-app:latest
      
      - name: Delete unused Docker containers and images
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            docker ps -aq --filter "name=^ez-ask-app$" | xargs -r docker stop
            docker ps -aq --filter "name=^ez-ask-app$" | xargs -r docker rm
      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          timeout: 60s
          script: |
            docker pull ${{ steps.login-ecr.outputs.registry }}/ez-ask-app:latest
            docker run -d --name ez-ask-app -p 80:80 ${{ steps.login-ecr.outputs.registry }}/ez-ask-app:latest